body{
    padding: 0px;
}

.network-card{
    background-color: white;
    padding: 0px;
    height: 225px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#eef1f8 25%,#ffffff 20%);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 2px;
}
.netwrok-card-image{
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    position: relative;
    top: -12.5px;
}