.header{
    height:65px;
}
.routing-page{
    display: flex;
    height: 100%;
    top:65px;
}

@media (min-width:1021px){
    .left-footer{
        width:20%;
        height:calc(100vh - 65px);
        background-color: white;
        margin-left:1%;
        margin-right: 1%;
        position:fixed;
        border-radius: 5px;
    }
    .right-footer{
        margin-left:77%;
        width:22%;
        height:calc(100vh - 65px);
        background-color: white;
        margin-right: 1%;
        position:fixed;
        border-radius: 5px;
    }
}

@media (min-width:650px) and (max-width:1020px)
{
    .left-footer{
        width:30%;
        height:calc(100vh - 65px);
        background-color: white;
        margin-left:1%;
        margin-right: 1%;
        position:fixed;
        border-radius: 5px;
    }
    .right-footer{
        display:none;
    }
}
@media (max-width:649px){
    .left-footer{
        display: none;
    }
    .right-footer{
        display:none;
    }
}
