/*this is css*/
.header{
  background-color: white;
  height:8vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section{
  height:80vh;
  display:flex;
  justify-content: center;
  align-items: center;
}


@media (min-width:720px){
  .container{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    background-image:url('https://res.cloudinary.com/dhz8n0ka8/image/upload/v1640021109/WhatsApp_Image_2021-12-20_at_1.23.44_PM_krendx.jpg');
  }
  .card{
    background-color: white;
    height:50vh;
    width:25vw;
    border-radius: 15px;
  }
  /* .logo{
    height:60px;
    width:75px;
  } */
}
@media (max-width:719px){
  .container{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    background-image:url('https://res.cloudinary.com/dhz8n0ka8/image/upload/v1640060093/WhatsApp_Image_2021-12-19_at_11.52.40_PM_ca83jc.jpg');
    background-size: cover;
  }
  .card{
    background-color: white;
    height:40vh;
    width:65vw;
    border-radius: 15px;
  }
  /* .logo{
    margin-left: 15px;
    height:50px;
    width:75px;
  } */
}

