@media (min-width:1021px){
    .feed-mid-section{
        display:flex;
        flex-direction: column;
        margin-left:22%;
        margin-right:24%;
        height:calc(100vh - 69px);
        overflow-y:scroll;
    }
}
@media (min-width:650px) and (max-width:1020px){
    .feed-mid-section{
        display:flex;
        flex-direction: column;
        margin-left:32%;
        margin-right:1%;
        height:calc(100vh - 69px);
        overflow-y:scroll;
    }
}
@media (max-width:649px){
    .feed-mid-section{
        display:flex;
        margin-left: 0.5%;
        margin-right:0.5%;
        flex-direction: column;
        height:calc(100vh - 69px);
        overflow-y:scroll;
    }
}

.feed-mid-section::-webkit-scrollbar {
    display: none;
}
.feed-content-card-header{
    display:flex;
}
.feed-content-user-handle{
    margin-top: 15px;
    margin-left: 10px;
}
.feed-content-metadata{
     display:flex;
     justify-content: space-around;
}
.feed-margin{
    margin-bottom:10px;
}
.feed-main-card-img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}