/* .mid-section{
    display:flex;
} */

@media (max-width:649px){
   .networks-mid-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 1%;
    margin-right:1%;
    height:calc(100vh - 69px);
    overflow-y:scroll;
    }
}

@media (min-width:1021px){
   .networks-mid-section{
       display: flex;
       justify-content: space-around;
       align-items: center;
       flex-wrap: wrap;
       flex-shrink: 1;
       padding-left: 0px;
       padding-right: 0px;
       margin-left:22%;
       margin-right:24%;
       height:calc(100vh - 69px);
       overflow-y: scroll;
   }
}

@media (min-width:650px) and (max-width:1020px){
    .networks-mid-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 1;
        padding-left: 0px;
        padding-right: 0px;
        margin-left:32%;
        margin-right:1%;
        height:calc(100vh - 69px);
        overflow-y: scroll;
    }
 }


.networks-mid-section::-webkit-scrollbar {
    display: none;
}